body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    height: 100vh;
}

.left-container {
    flex: 1;
    background-color: black; /* Color para el container izquierdo */
}

.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-right {
    flex: 1;
    background-color: black; /* Color para el container superior derecho */
}

.bottom-right {
    flex: 1;
    background-color: black; /* Color para el container inferior derecho */
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.table-container .table {
    width: 80%;
    height: 80%;
    background-color: #333;
    border: 4px solid white;
    margin: 20px;
}

.player-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100%; /* Ajusta la altura del contenedor */
}

.hearts {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.heart {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: red;
    margin-right: 5px;
}

.turn-button-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%; /* Ajusta la altura del contenedor */
}

button {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: white;
    color: black;
}

/* Agregar la animación de rotación */
.rotate-animation {
    animation: rotateTable 1s ease-in-out forwards;
}

@keyframes rotateTable {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.table{
    position: relative;
}

/* Estilos para el arma */
.gun {
    position: absolute;
    width: 100px; /* Tamaño del arma */
    height: 100px;
    top: calc(50% - 40px); /* 50% de la altura menos la mitad del tamaño del arma */
    left: calc(50% - 40px); 
}

